<%- include('./partials/header'); %>
<div class="container">
    <div class="row pt-5">
        <div class="col-8">
            <h2><%= blogPost[postId.id].title %></h2>
            <p><%= blogPost[postId.id].post %></p>
        </div>
    </div>
</div>

 
<%- include('./partials/footer'); %>